

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Adjust as needed to center vertically */
}


.card {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow:  15px 15px 15px hsla(0, 0%, 0%, 0.562);
    padding: 25px;
    margin: 10px;
    text-align: center;
    max-width: 500px;
    display: inline-block;
}

.card .card-image {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card .social-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  
  .card .social-links a {
    text-decoration: none;
  }
  
  .card .social-links img {
    width: 40px; /* Adjust the size of your social icons as needed */
    height: auto;
    margin: 0 10px;
  }


.language-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh; /* Adjust as needed to center vertically */

}

.languages {
  border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow:  15px 15px 15px hsla(0, 0%, 0%, 0.562);
    padding: 25px;
    margin: 10px;
    text-align: center;
    max-width: 500px;
    display: inline-block;
}
